  <%# create the button for user to make payment %>
<%# by creating a link to stripe %>
<< <%= link_to 'Back', listings_path %> 
<div>
  <h2>Snake details</h2>
  <table>
    <tr>
      <th>Title</th>
      <td><%= @listing.title %></td>
    </tr>
    <tr>
      <th>Breed</th>
      <td><%= @listing.breed.name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @listing.description %></td>
    </tr>
    <tr>
      <th>Sex</th>
      <td><%= @listing.sex %></td>
    </tr>
    <tr>
      <th>Diet</th>
      <td><%= @listing.diet %></td>
    </tr>
    <tr>
      <th>Date of birth</th>
      <td><%= @listing.date_of_birth %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td>$<%= @listing.price %></td>
    </tr>
    <tr>
      <th>Deposit required</th>
      <td><%= @listing.deposit %> %</td>
    </tr>
  </table>
  <br/>
  <button data-stripe="payment">
    Pay Deposit <%= number_to_currency(@listing.deposit) %>
  </button>
</div>
<%# use js to execute the button %>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );
  
      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>
