<%= link_to("<<< Back to List", foods_path, :class=> "back-link") %>
<div>
  <h2>Create Subject</h2>
  <%= form_with model: @food do |f| %>
    <table>
      <tr>
        <th>Name</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>Calories</th>
        <td> <%= f.text_field :calories%></td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= f.submit("Create food") %>
    </div>
  <% end %>
</div>
