<header><h1 class="display-4">Add Place</h1></header>

<%= render 'form' %>


<div >
  <%= form_with(url: "/search", method: "get") do %>
    <%= label_tag(:q, "Starts at") %>
    <%= text_field_tag(:q) %>
    <br/>
    <%= label_tag(:q, "Ends at:") %>
    <%= text_field_tag(:q) %>
    <br/>
    <%= submit_tag("Go") %>
  <% end %>
</div>
