<ul>
    <%  @toys.each.map do |toy| %>
        <li>Id: <%= toy.id %> </li>
        <li>Name: <%= toy.name %> </li>
        <li>Description: <%= toy.description %> </li>
        <li>Date posted: <%= toy.date_posted%> </li>
        <li>User: <%= toy.user %> </li>
        <br>
    <% end %>
</ul>